<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>17/10/26 22:21:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddStudentTestPageObject.closeSelenium()[pri:0, instance:rs.ac.uns.testdevelopment.ssluzba.AddStudentTestPageObject@7c0e2abd]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/10/26 22:20:59</td>   <td>-14813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddStudentTestPageObject.setupSelenium()[pri:0, instance:rs.ac.uns.testdevelopment.ssluzba.AddStudentTestPageObject@7c0e2abd]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/10/26 22:21:02</td>   <td>-11774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddStudentTestPageObject.studentCreation()[pri:0, instance:rs.ac.uns.testdevelopment.ssluzba.AddStudentTestPageObject@7c0e2abd]">studentCreation</td> 
  <td>main@1529306539</td>   <td></td> </tr>
</table>
